@tailwind base;
@tailwind components;
@tailwind utilities;

img::selection {
  background-color: transparent;
  color: transparent;
}

::selection {
  background-color: transparent;
  color: currentColor;
}

* {
  transition: all ease .2s;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 220.8, 73.4%, 59.8%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 220.8, 73.4%, 59.8%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .desc {
    @apply text-sm font-normal leading-none tracking-tight text-muted-foreground;
  }

  .title {
    @apply font-semibold text-primary text-2xl md:text-3xl tracking-tighter leading-none;
  }

  .subtitle {
    @apply font-medium text-lg md:text-2xl tracking-tighter leading-none;
  }

  .heading {
    @apply text-3xl md:text-7xl font-semibold tracking-tighter pb-5;
  }

  .lineupSection {
    @apply flex flex-col gap-2 md:items-center justify-center;
  }

  .gradientText {
    @apply bg-gradient-to-br from-primary to-accent bg-clip-text text-transparent;
  }

  .center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .dialogContent {
    @apply pt-10 flex items-center gap-4 md:gap-5;
  }

  .px-section {
    @apply px-5 lg:px-10;
  }

  .labelOption {
    @apply w-full m-0 flex items-center gap-3 py-5 px-10 rounded-xl cursor-pointer bg-background border-[2px] border-transparent has-[:checked]:border-accent has-[:checked]:bg-blue-500/20;
  }

  .activeLink {
    @apply relative after:absolute after:w-3 after:h-1 md:after:left-1/2 md:after:-translate-x-1/2 after:rounded-full after:bg-green-500 md:after:-bottom-2 after:max-md:-right-4 after:shadow-md after:shadow-green-500 !shadow-green-500/70;
  }

  /* .activeLink {
    @apply  ;
  } */

}


/* html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} */

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #6b7280 transparent;
  }

  .scrollbar-thin::-webkit-scrollbar {
    margin: 10px 0;
    width: 60px;
    z-index: 300;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: #e5e7eb;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 10px;
  }
}

html::-webkit-scrollbar {
  margin: 10px 0;
  width: 6px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
  border-radius: 10px;
}